/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
*/


a{
    color: #93c106;
}

.select2-container {
    background: wheat none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0 0 856px;
    position: relative;
    vertical-align: middle;
}

.sidebar-brand #menu-toggle:focus, .sidebar-brand #menu-toggle:active, .sidebar-brand #menu-toggle:hover{
  color: #93c106 !important;	
}
.dropdown-menu{
	background-color: #BEFD00;
}