<!DOCTYPE html>
<html>
<head>
  <title>WoloUi</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,900">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:900,300,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,300,200">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,700,300,200">
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.23/theme-default.min.css">
  
  <script src="http://staging.becausewolo.com/assets/application-3a5a7c9480fd47629e08b93f62ddf36c613e0bb4fbd932ad66650557e09ec335.js"></script>
    
  <script src="http://staging.becausewolo.com/assets/lib/grid-769c4a963e6236480449f073f94d3111ac421f7e5322a90a93da097b82cf6dc8.js"></script>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>	
</head>
<body>

<%= yield %>

</body>
</html>
